@import './../Shared/Styles/reset'

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

@import './../Shared/Styles/typography'

html 
    font-size: 10px

body 
    font-family: 'Roboto', sans-serif

.wrapper 
    display: flex
    flex-direction: column
    align-items: center

    max-width: 60rem

    margin-left: auto
    margin-right: auto
    margin-top: 10rem
    margin-bottom: 10rem