@import './../Shared/Styles/reset'

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

@import './../Shared/Styles/typography.scss'

html 
    font-size: 10px

body 
    font-family: 'Roboto', sans-serif

.users 
    display: flex
    max-width: 66.5rem

    margin-left: auto
    margin-right: auto